<!-- <div class="center">
  <h1>Home</h1>
  <h3 ng-if="!!currentUser.username">Logged in as: {{ currentUser.username }}</h3>

  <button ng-if="!!currentUser.username" ng-click="vm.logout()" class="btn btn-primary">Logout</button>
</div> -->

<div class="flex-container2">
  <a href ui-sref="discs.allDiscs" class="flex-container3">
    <img src="/images/AllDiscsIcon.gif" class="home-icon" alt="View All Discs">
    <br>
    <span class="icon-links">View All Discs</span>
  </a>
  <a href ui-sref="discs.myBag({id: currentUser.id})" class="flex-container3">
    <img src="/images/MyBagIcon.gif" class="home-icon" alt="View My Discs">
    <br>
    <span class="icon-links">View My Discs</span>
  </a>
</div>