/* GENERAL STYLING */

body {
  /*background-color: #F3F2F3;*/
  background-image: url('images/background2.jpg');
  background-size: cover;
  padding-top: 70px;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

a:hover span {
  color: gold;
}

a:hover, a:link, a:visited, a:active {
  text-decoration: none;
}

.neg {
  margin-top: -20px;
}

.pagination {
  margin-top: 7px;
  margin-bottom: 3px;
}

a[ng-click]{
  cursor: pointer;
}

ul {
  list-style: none;
}

.table > thead > tr > th, .table > thead > tr > td, .table > tbody > tr > th, .table > tbody > tr > td, .table > tfoot > tr > th, .table > tfoot > tr > td {
  vertical-align: middle;
}

.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
   background-color: rgba(238, 238, 238, 1)
}

.validation-msg {
  color: red;
}

/* POSITIONING */

.center {
  margin: 0 auto;
  text-align: center;
}

.left {
  margin-left: 40px;
}

.padright {
  padding-right: 10px;
}

/* DISCS */

.discs-container {
  width: 80%;
  margin: 0 auto;
  /*border: 10px solid gold;*/
  background-color: #FFF;
  padding: 20px 20px 0 20px;
}

.discs-list {
  height: 69vh;
  overflow: auto;
}

.disc {
  display: flex;
  margin: 0 auto;
  flex-wrap: wrap;
  padding: 25px;
  background-color: #FFF;
  height: 80%;
}

.add-disc {
  display: flex;
  padding: 25px;
  margin: 0 auto;
  justify-content: center;
  background-color: #FFF;
}

.detail {
  flex-basis: 400px;
  flex-grow: 1;
}

.detail1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center; /* Why do I need to align the text on top of the flexbox align? */
  align-items: center;
  flex-basis: 800px;
  flex-grow:2;
  margin: 0 auto;
}

.flex-container2 {
  padding-left: 50px;
  padding-right: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 70vh;
}

.flex-container3 {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-direction: column;
}

.disc-weight {
  width: 40px;
  text-align: right;
}

/* NAVBAR */

.navbar, .navbar-default, .navbar-fixed-top {
  /*background-color: #F3F2F3;*/
  /*background: none;*/
  background-color: rgba(255, 255, 255, 0.4);
}

.navbar-default .navbar-nav > li > a {
  color: #426044;
}

.navbar-default {
  border: none;
}

.navbar-default .navbar-brand {
  color: #426044;
}

/* ICONS */

.home-icon {
  border: 10px solid white;
  border-radius: 25px;
}

.icon-links {
  color: #fff;
  font-family: 'Lato', sans-serif;
  font-size: 1.5em;
  letter-spacing: 10px;
}

/* FORMS */

.form-div {
  background-color: #fff;
  max-width: 35%;
  padding: 20px 0px 35px 0px;
}

/* TOOLTIP */

.tooltip-wrap {
  position: relative;
}

.tooltip-wrap .tooltip-content {
  background-color: #fff;
  padding: 1em;
  display: none;
  font-family: Calibri, Tahoma, sans-serif;
  position: absolute;
  left: 1em;
  z-index: 99;
  margin-left: 0;
  width: 100px;
}

.tooltip-wrap:hover .tooltip-content {
  display: inline;
}