body {
  background-color: #F3F2F3;
}

.disc {
  background-color: #FFF;
  height: 80%;
  -webkit-box-shadow: 6px 6px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 6px 6px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 6px 6px 5px 0px rgba(0,0,0,0.75);
}

.navbar, .navbar-default, .navbar-fixed-top {
  background-color: #F3F2F3;
}

.navbar-default .navbar-nav > li > a {
  color: #426044;
}

.navbar-default {
  border: none;
}

.navbar-default .navbar-brand {
  color: #426044;
}