/* GENERAL STYLING */

body {
  /*background-color: #F3F2F3;*/
  background-image: url('images/background2.jpg');
  background-size: cover;
  padding-top: 70px;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

a:hover span {
  color: gold;
}

a:hover, a:link, a:visited, a:active {
  text-decoration: none;
}

.neg {
  margin-top: -20px;
}

.pagination {
  margin-top: 7px;
  margin-bottom: 3px;
}

a[ng-click]{
  cursor: pointer;
}

ul {
  list-style: none;
}

/* DISCS */

.discs-container {
  width: 80%;
  margin: 0 auto;
  /*border: 10px solid gold;*/
  background-color: #FFF;
  padding: 20px 20px 0 20px;
}

.discs-list {
  height: 69vh;
  overflow: auto;
}

.disc {
  background-color: #FFF;
  height: 80%;
}

/* NAVBAR */

.navbar, .navbar-default, .navbar-fixed-top {
  /*background-color: #F3F2F3;*/
  /*background: none;*/
  background-color: rgba(255, 255, 255, 0.4);
}

.navbar-default .navbar-nav > li > a {
  color: #426044;
}

.navbar-default {
  border: none;
}

.navbar-default .navbar-brand {
  color: #426044;
}

/* ICONS */

.home-icon {
  border: 10px solid white;
  border-radius: 25px;
}

.icon-links {
  color: #fff;
  font-family: 'Lato', sans-serif;
  font-size: 1.5em;
  letter-spacing: 10px;
}