<div class="form-div center">

  <h1>Sign Up</h1>
  <br>
  <!-- registration form -->
  <form name="form" ng-if="!currentUser.username" ng-submit="vm.register()" novalidate="novalidate">

    <div class="form-group">
      <div class="validation-msg" ng-messages="form.username.$error" ng-if="form.username.$touched">
        <div ng-message="required">&#8226; You must enter a username</div>
        <div ng-message="minlength">&#8226; Must be more than 2 characters</div>
      </div>

      <label for="username" class="col-sm-3 control-label">Username</label>
      <div class="col-sm-9">
        <input type="text"
             name="username"
             ng-model="vm.newUser.username"
             required="required"
             minlength="3"
             class="form-control"><br>
      </div>
    </div>

    <div class="form-group">
      <div class="validation-msg" ng-messages="form.email.$error" ng-if="form.email.$touched">
        <div ng-message="email">&#8226; Please enter valid email address</div>
      </div>

      <label for="email" class="col-sm-3 control-label">Email</label>
      <div class="col-md-9">
        <input type="email" name="email"
             ng-model="vm.newUser.email"
             required="required"
             class="form-control"><br> <!-- pattern not working ATM -->
      </div>
    </div>

    <div class="form-group">
      <div class="validation-msg"
           ng-messages="form.password.$error"
           ng-if="form.password.$touched">
        <div ng-message="required">&#8226; Password is required</div>
        <div ng-message="minlength">&#8226; Password must be at least 8 characters</div>
      </div>

      <label for="password" class="col-sm-3 control-label">Password</label>
      <div class="col-md-9">
        <input type="password"
               ng-model="vm.newUser.password"
               required="required"
               minlength="8"
               name="password"
               class="form-control"> <br>
      </div>
    </div>

    <button type="submit" class="btn btn-default">Register</button>
  </form>
</div>
