<div class="form-div flexer-item">

  <h1>Sign In</h1>
  <br>
  <!-- sign in form -->
  <form ng-if="!currentUser.username" ng-submit="vm.login()" class="user-form">
    <div class="form-group">
      <label for="username">Username</label> <br>
      <input type="text" ng-model="vm.userForm.username"> <br>
    </div>
    <div class="form-group">
      <label for="email">Email</label> <br>
      <input type="email" ng-model="vm.userForm.email"> <br>
    </div>
    <div class="form-group">
      <label for="password">Password</label> <br>
      <input type="password" ng-model="vm.userForm.password"> <br>
    </div>
    
    <button type="submit" class="btn btn-default">Sign In</button>
  </form>

</div>
