<h4 class="center">ADD TO BAG</h4>

<div class="add-disc">
  <div class="detail">
    <img ng-src="{{ vm.discToAdd.image_url }}" alt="">
  </div>
  
  <br>
  <div class="detail1 left">
    <h3>{{ vm.discToAdd.name }}</h3>

    <br>
    <label for="selectedWeight">Select a weight: </label>
    <select ng-model="vm.selectedWeight" ng-options="x for x in vm.weightRange" ng-change="vm.selectWeight()">
      <option value="" selected>--Please pick a weight--</option>
    </select>
    <br><br>

    <label for="typedWeight">Or enter a weight if you have one that's not listed:</label>
    <input type="text" name="typedWeight" class="disc-weight"> g

    <br> <br>
    <button class="btn btn-default" ng-click="vm.addToBag()">Add To Bag</button>
  </div>


  <br><br>
</div>