<h4>ALL DISCS</h4>

<div class="discs-list">
  <input ng-model="vm.search" ng-change="vm.refilter()"/>
  <p>
    Filter by: 
    <a href ng-click="typeFilter={disc_type: 'distance'}">Distance</a> |
    <a href ng-click="typeFilter={disc_type: 'fairway'}">Fairway</a> |
    <a href ng-click="typeFilter={disc_type: 'midrange'}">Midrange</a> |
    <a href ng-click="typeFilter={disc_type: 'putter'}">Putters</a>
  </p>

  <panel filtered-list="vm.filteredList" page="vm.page"></panel>

  <!-- <ul> -->
    <!-- <li ng-repeat="disc in vm.filteredList | filter:typeFilter | limitTo:25:25*(vm.page-1)">
      <img ng-src="{{ disc.thumbnail_url }}" alt="">{{ disc.name }}
    </li> -->
  <!-- </ul> -->
  
</div>

<!-- <div>
  <ul class="pagination">
    <li ng-if="vm.page > 0">
      <a href="" ng-click="vm.previousPage()">
        << Previous
      </a>
    </li>
    <li ng-if="vm.page < vm.totalPages - 1">
      <a href="" ng-click="vm.nextPage()">
        Next >>
      </a>
    </li>
  </ul>
</div> -->

<uib-pagination class="pagination-sm pagination" 
                total-items="vm.filteredList.length" 
                ng-model="vm.page"
                max-size='5' 
                previous-text="&lsaquo; Prev" 
                next-text="Next &rsaquo;"
                rotate='true'
                boundary-links='true' 
                items-per-page=30>
</uib-pagination>