<h4 class="neg">ALL DISCS</h4>
<input ng-model="vm.search" ng-change="vm.refilter()" placeholder="Search"/>
<p>
  Filter by: 
  <a href ng-click="typeFilter={disc_type: 'distance'}">Distance</a> |
  <a href ng-click="typeFilter={disc_type: 'fairway'}">Fairway</a> |
  <a href ng-click="typeFilter={disc_type: 'midrange'}">Midrange</a> |
  <a href ng-click="typeFilter={disc_type: 'putter'}">Putters</a>
</p>

<div class="discs-list">

  <!-- <ul>
    <li ng-repeat="disc in vm.filteredList | filter:typeFilter | limitTo:20:20*(vm.page-1) | orderBy:'name'">
      <panel disc="disc" user="currentUser"></panel> - <a href ui-sref="discs.addToBag({ id: currentUser.id, discId: disc.id })">+</a>
    </li>
  </ul> -->

  <table class="table table-striped">
    <tr ng-repeat="disc in vm.filteredList | filter:typeFilter | limitTo:20:20*(vm.page-1) | orderBy:'name'">
      <td>
        <panel disc="disc" user="currentUser"></panel> -
        <a href ui-sref="discs.addToBag({ id: currentUser.id, discId: disc.id })" class="tooltip-wrap">
          <span class="glyphicon glyphicon-plus"></span>
          <span class="tooltip-content">Add To Bag</span>
        </a>
      </td>
    </tr>
  </table>
  
</div>

<uib-pagination class="pagination-sm pagination pull-right" 
                total-items="vm.filteredList.length" 
                ng-model="vm.page"
                max-size='5' 
                previous-text="&lsaquo; Prev" 
                next-text="Next &rsaquo;"
                rotate='true'
                boundary-links='true' 
                items-per-page=30>
</uib-pagination>