<h4>ALL DISCS</h4>

<div class="discs-list">
  <input ng-model="vm.search" ng-change="vm.refilter()"/>
  <ul>
    <li ng-repeat="disc in vm.filteredList | limitTo:30:30*(vm.page-1)">
      {{ disc.name }}
    </li>
  </ul>
  
</div>

<!-- <div>
  <ul class="pagination">
    <li ng-if="vm.page > 0">
      <a href="" ng-click="vm.previousPage()">
        << Previous
      </a>
    </li>
    <li ng-if="vm.page < vm.totalPages - 1">
      <a href="" ng-click="vm.nextPage()">
        Next >>
      </a>
    </li>
  </ul>
</div> -->

<uib-pagination class="pagination-sm pagination" 
                total-items="vm.filteredList.length" 
                ng-model="vm.page"
                ng-change="vm.pageChanged()"
                max-size='5' 
                previous-text="&lsaquo; Prev" 
                next-text="Next &rsaquo;"
                rotate='true'
                boundary-links='true' 
                items-per-page=30>
</uib-pagination>