body {
  padding-top: 70px;
}

a[ng-click]{
  cursor: pointer;
}

ul {
  list-style: none;
}

.discs-list {
  margin: 0 auto;
  width: 100%;
}

.disc {
  max-width: 80%;
  margin: 0 auto;
}

/*.disc p {
  width: 70%;
}*/

/*.user-form {
  text-align: center;
}*/

/*form {
  width: 80%;
  margin: 0 auto;
}

form h1 {
  text-align: center;
}

label, input {
  display: inline-block;
}

label {
  width: 30%;
  text-align: right;
}*/

.flexer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flexer-item {
  max-width: 80%;
}

.center {
  margin: 0 auto;
  text-align: center;
}