body {
  padding-top: 70px;
  background-color: #A5C190;
}

a[ng-click]{
  cursor: pointer;
}

ul {
  list-style: none;
}

.navbar, .navbar-default, .navbar-fixed-top {
  background-color: #242823;
  color: #E9F0EF;
}

.navbar-default .navbar-nav > li > a {
  color: #E9F0EF;
}

.discs-list {
  margin: 0 auto;
  width: 100%;
}

.disc {
  display: flex;
  /*max-width: 80%;*/
  margin: 0 auto;
  /*border: 10px solid gold;*/
  flex-wrap: wrap;
  padding: 25px;
  /*justify-content: center;
  align-content: center;*/
}

.add-disc {
  display: flex;
  /*max-width: 80%;*/
  /*min-width: 100%;*/
  padding: 25px;
  margin: 0 auto;
  /*border: 10px solid black;*/
  justify-content: center;
  /*align-content: center;*/
  /*align-items: center;*/
  /*text-align: center;*/
  background-color: #FFF;
  /*flex-wrap: wrap;*/
}

.detail {
  /*width: 50%;*/
  flex-basis: 400px;
  flex-grow: 1;
  /*flex: 1;*/
  /*border: 10px solid pink;*/
}

.detail1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center; /* Why do I need to align the text on top of the flexbox align? */
  align-items: center;
  flex-basis: 800px;
  flex-grow:2;
  /*border: 5px solid gold;*/
  margin: 0 auto;
  /*flex: -1;*/
  /*width: 75%;*/
  /*flex: -1;*/
  /*align-self: center;*/
}

.flex-container2 {
  padding-left: 100px;
  padding-right: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 10px solid pink;
  height: 70vh;
}

.home-icon {
  border: 10px solid white;
  border-radius: 25px;
}

.left {
  margin-left: 40px;
}

.disc-weight {
  width: 40px;
  text-align: right;
}

.validation-msg {
  color: red;
}

.tooltip-wrap {
  position: relative;
}

.tooltip-wrap .tooltip-content {
  background-color: #fff;
  padding: 1em;
  display: none;
  font-family: Calibri, Tahoma, sans-serif;
  position: absolute;
  left: 1em;
  z-index: 99;
  margin-left: 0;
  width: 100px;
}

.tooltip-wrap:hover .tooltip-content {
  display: inline;
}

/*.disc p {
  width: 70%;
}*/

/*.user-form {
  text-align: center;
}*/

/*form {
  width: 80%;
  margin: 0 auto;
}

form h1 {
  text-align: center;
}

label, input {
  display: inline-block;
}

label {
  width: 30%;
  text-align: right;
}*/

.flexer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flexer-item {
  max-width: 80%;
}

.center {
  margin: 0 auto;
  text-align: center;
}