<!DOCTYPE html>
<html ng-app="discCaddy">
  <head>
    <title>Disccaddy</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>


  <body>
    <div class="flexer">
      <%= yield %>
    </div>
  </body>
</html>
