<!DOCTYPE html>
<html ng-app="discCaddy" class="ng-cloak">
  <head>
    <title>Disccaddy</title>
    <%= csrf_meta_tags %>

    <%= javascript_include_tag 'application' %>
    <%= stylesheet_link_tag    'application', 'https://fonts.googleapis.com/css?family=Lato', media: 'all' %>
    <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-1.3.3.js"></script>
    <script src="/angular-messages.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-cookies.js"></script>
    <link rel="stylesheet" href="/styles2.css">
  </head>

  <navi></navi>
  <!-- <div ng-include src="'nav.html'"></div> -->

  <body>
    <div class="flexer">
      <%= yield %>
    </div>
  </body>
</html>
